<style>
  .main-banner{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-image: url("images/home_landing.png");
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    /* margin: 50px 0px; */
  }

  .main-intro {
    align-self: center;
    text-align: center;
    color: whitesmoke;
  }
  .main-intro h1 {
    font-size: xx-large;
  }


</style>

<section class="md-container">

  <div class="main-banner" >
   <div class="main-intro" >
     <h1> Decision Support Office</h1>
     
     <p> Enabling Data Drive decision making.</p>
   </div>
 </div>

   <!-- <div class="riverbend-image">
       <div class="intro">
           Put some kind of introduction here
       </div>
   </div> -->
 </section>